﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Masters/SiteMaster.Master" AutoEventWireup="true" CodeBehind="TripRegistration.aspx.cs" Inherits="SUDatabase.Management.DutyOfCare.SocietyControls.TripRegistration" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="systemmenuright" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>
        <asp:Label ID="lblSportSocietyName" runat="server" Text="Label"></asp:Label></h1>
    
    <h2>Trip Registrations</h2>
</asp:Content>
