﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Masters/Shop.Master" AutoEventWireup="true" CodeBehind="CreateStudent.aspx.cs" Inherits="SUDatabase.Shop.Identity.CreateStudent" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <h1></h1>

</asp:Content>
