﻿/******CSS RESET******/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*stylesheet*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/******CSS RESET******/


/*****Headings And Fonts******/

body
{
    /*Set Font*/
    font-family:Arial;
}

h1
{
    font-size:1.8em;
    text-align:center;
    font-weight:bold;
    margin-bottom:20px;
}

.strike
{
       text-decoration: line-through;
}

p
{
    margin-bottom:10px;
    line-height:1.2em;
}

h2
{
    font-size:1.5em;
    text-align:left;
    font-weight:bold;
    margin-bottom:10px;
    margin-top:20px;
}

/*****Headings******/

body
{
    /*background-image:url('../Images/bodybackgroundTexture.png');*/
    background-color:#ebe9ef;
}

#Wrapper
{
 /*background-image:url('../Images/bodybackground.png');
 background-repeat:repeat-x;*/
}

#casecontent
{
    margin-right:350px;
}



a
{
    text-decoration:none;
    color:red;

}
a:hover
{
  text-decoration:underline;
}

.notes
{
    border-bottom:solid black 1px;
}

#SiteContainer
{
    max-width:980px;
    min-width:320px;
    margin:auto;
    min-height:400px;
}

#HeaderMenu
{
    /*
    background-color:black;
    height:42px;
    border-bottom:4px red solid;
        */
}

.topLogo
{
    /*position:absolute;*/
    margin:auto;
    display:block;
}

#TopHeaderLinks
{
    float:right;
  position:absolute;
  top:23px;
  right:120px;

}

#TopHeaderLinks li
{
    text-align:right;
    padding:8px;
}

#TopHeaderLinks a
{
    color:white;
    text-decoration:none;
    background-color:red;
    padding:8px;
}

.labelwidth
{
    width:150px;
}

#TopHeaderLinks a:hover
{
    color:white;
    text-decoration:underline;

}

#SiteName
{

    float:right;
    clear:right;
    padding:10px;
    position:absolute;
    top:0px;
    right:0;
}

#SystemMenu
{
   border-top:2px black solid;
   border-bottom:2px solid black;
  width:100%;

    clear:both;

}
/*
#SystemMenu ul
{
    background-color:black;
    text-align:center;
    margin:auto;
}

#SystemMenu li
{
    padding-right:20px;
    padding-left:20px;
    background-color:black;
    vertical-align:text-bottom;
    text-align:center;
          display:inline-block;
          height:72px;
          line-height:110px;
          margin-top:10px;
  
}

#SystemMenu a
{
    height:82px;
    display:block;
    color:white;
    text-decoration:none;
}

#SystemMenu a:hover
{
    text-decoration:underline;
}
    

.StudentManagerLI
{
    background-image:url('../Images/Icons/StudentManagerIcon.png');
    background-repeat:no-repeat;
    background-position:top;
}

.DutyOfCareLI
{
    background-image:url('../Images/Icons/StudentManagerIcon.png');
    background-repeat:no-repeat;
    background-position:top;
}

.ReportsLI
{
    background-image:url('../Images/Icons/StudentManagerIcon.png');
    background-repeat:no-repeat;
    background-position:top;
}

.SystemManagerLI
{
    background-image:url('../Images/Icons/StudentManagerIcon.png');
    background-repeat:no-repeat;
    background-position:top;
}
*/
#RightMenu
{

   /* background-image:url('../Images/bodybackgroundTexture.png');*/
   position:relative;
}

.RightMenuUL
{
    clear:both;
        width:200px;
    height:100%;

        float:right;
    
    background-size:550px 60px;
    background-position:-300px -10px;
margin-bottom:40px;
    background-repeat:no-repeat;
    margin-left:5px;
    background-color:white;
}


.RightMenuUL h2
{
    background-image:url('/Images/headingback.png');
    font-size:1em;
    color:white;
    padding-top:20px;
    background-size:350px 50px;
    margin-top:0px;
    padding:15px;
    text-transform:uppercase;
    background-repeat:no-repeat;
    width:170px;
}

.RightMenuUL li
{
    margin-left:5px;
    margin-right:5px;
    padding-top:5px;
    color:red;

}

.RightMenuUL li:hover
{
background-color:#eee;


}

.RightMenuUL a
{
    width:175px;
    border-bottom:solid 1px gray;
    display:block;
        padding:5px;
        text-decoration:none;
    color:red;

}

#ContentArea
{
    margin-top:5px;
    clear:both;
    min-height:400px;
    background-color:white;

}












#container
{

    padding:10px;

}

.cart
{
    width:300px;
    border:solid 1px #d3232f;
    margin:auto;
    margin-top:20px;

}



.shopmenu
{
    margin-top:20px;

}

.shopmenu li
{

    display:inline-block;
    width:150px;
    background-image:url('../Images/quickhd.png');
    height:50px;
    text-align:center;
    line-height:50px;
    font-size:0.8em;
    background-size:320px 50px;
    margin:0px;
}

.shopmenu li a
{

    color:white;
    text-decoration:none;
}

.shopmenu li a:hover
{

    color:white;
    text-decoration:underline;
}


.cartlabel
{
   line-height:2em;
   vertical-align:middle;
   width:100px;
   display:inline-block;
   padding:5px;
}

.highlighttotal
{
    font-weight:bold;
   background-color:#d3232f;
   color:white;

}


.submitbutton
{
    margin-top:20px;
    background-color:red;
    color:white;
    padding:10px;
    width:200px;
    font-weight:bold;

}

#loginbox
{
    margin:auto;
    width:400px;
    margin-top:50px;
    margin-bottom:50px;
}

label
{
    font-weight:bold;
    /*width:300px;*/
}

.labelsmall
{
    font-weight:bold;
    width:300px;
}

.label
{
    font-weight:bold;
       width:200px;
       display:inline-block;
}

.hidden
{
    display:none;
}

.txtbox
{
    padding:10px;
    width:400px;

}


.combobox
{
    padding:10px;
    width:280px;
}

.comboboxrightmenu
{
    padding:10px;
    width:190px;
}


.leftpara .comboxbox
{
        width:100px;
}

.rightpara .combobox
{
    width:280px;

}

.leftpara .txtbox
{
        width:250px;
}

.rightpara .txtbox
{
    width:250px;

}

.leftpara
{
    float:left;
    width:45%;
    padding-right:20px;
}

.rightpara
{
    float:right;
    width:45%;
}

.smallleftpara
{
    float:left;
    width:250px;
}

.error
{
    margin-top:10px;
    width:65%;
    color:white;
    padding:5px;
    border:1px dashed black;
    background-color:red;

}

.errorhome
{
    margin-top:10px;
    color:white;
    padding:5px;
    border:1px dashed black;
    background-color:red;

}

.error h2
{
    margin:0px;
    text-align:center;
    padding:0px;
}

.correct
{
    margin-top:10px;
    width:65%;
    color:white;
    padding:5px;
    border:1px dashed black;
    background-color:limegreen;

}

.error a
{
    color:white;
    text-decoration:underline;

}

.error a:hover
{
    text-decoration:none;
}

.blackbutton
{
    background-color:black;
    color:white;
    min-width:120px;
    font-weight:bold;

}

.standardbutton
{
    background-color:red;
    color:white;
    min-width:120px;
    font-weight:bold;

}

.standardbutton1
{
    background-color:red;
    color:white;
    min-width:90px;
    font-weight:bold;

}

.standardgreen
{
    background-color:green;
    color:white;
    min-width:120px;
    font-weight:bold;

}

.standardblue
{
    background-color:orange;
    color:white;
    min-width:120px;
    font-weight:bold;

}

strong
{
    font-weight:bold;
}

.standardorange
{
    background-color:red;
    color:white;
    min-width:120px;
    font-weight:bold;

}

#Footer
{
    background-color:red;
   margin-top:50px;
   bottom:0px;
   width:100%;
}

#FooterContent
{
        max-width:980px;
        min-width:320px;
        margin:auto;


}

#BottomMenu
{

    background-color:black;
}

#BottomMenuContent
{
    max-width:980px;
    min-width:320px;
    margin:auto;
    color:white;
    padding-top:5px;
    padding-bottom:5px;
    font-size:0.8em;
    min-height:30px;
}

.FootsqueekCredit
{
    text-align:center;
}

.FootsqueekCredit a
{
    color:white;
    text-decoration:none;

}

.FootsqueekCredit a:hover
{
    color:orange;
    text-decoration:none;

}

.hometoprow
{

    margin:10px;



}

.toprowitem
{
    width:25%;
    float:left;

}



.contentdiv
{
    clear:both;
    min-height:330px;
}


.homecontentdiv
{
    clear:both;
    min-height:330px;
}

.homecontentdiv .nicetable
{
    width:100%;
}


.hometoprowdouble
{
    width:600px;

    margin:10px;
    float:left;
    height:295px;

}

.hometoprow p
{
    font-size:1.8em;
    text-align:center;
    padding:20px;
    color:red;
    background-image:url('/Images/ovalframe.png');
    background-repeat:no-repeat;
    background-size:contain;
    width:147px;
    height:124px;
    padding-top:60px;
    margin:auto;
}

.hometoprowdouble .
{
    width:600px;
}

.hometoprowdouble p
{
    text-align:center;
    font-weight:bold;
    width:600px;

}


.hometoprowsplit
{
 height:150px;
}



.center
{
    text-align:center;
    margin-top:20px;
}

.clear
{
    clear:both;

}


.RightMenuUL p
{
    font-size:3em;
    text-align:center;
    padding:10px;
    font-weight:bold;

}

.hometoprow a {
    color:red;
    text-decoration:none;
}

.hometoprow a:hover {
    color:red;
    text-decoration:underline;
}


.hometoprow h2
{
    
      background-size:620px 50px;
        padding:10px;
        color:black;
            height:40px;
font-size:1.2em;
font-weight:bold;
text-align:center;
}


.hometoprowdouble h2
{
    width:280px;
      background-image:url('../Images/quickhd.png');
      background-size:620px 50px;
        padding:10px;
        color:white;
        text-transform:uppercase;
font-size:1.2em;
font-weight:bold;
text-align:center;
}







.nicetable
{
    
   
  margin:auto;
    display:table;
}

.nicetable .txtbox
{
    width:550px;
}

.nicetable th
{
    background-color:lightgray;
    padding:5px;
    font-weight:bold;
    text-align:left;

}

.nicetable td
{
    padding:5px;

}

.nicetable h3
{
    font-weight:bold;
    font-size:1.2em;
}

.nicetable tr:nth-child(odd)		
{ background-color:#eee; }

#activityLogDiv
{
    margin-bottom:20px;
    border:solid 1px black;
    margin-right:250px;
}

#studentdiv
{
    margin-right:275px;
}

.codeofconduct li
{
    margin-left:30px;
    padding:10px;
    list-style-type:square;
}

.searchbox
{
    width:80%;
    padding:10px;
    text-align:left;
    font-weight:bold;
}

.filter
{
    margin-bottom:40px;
}
#activityLogDiv p
{
    margin:0px;
    padding-left:10px;
     padding-right:10px;
     padding-top:10px;
     padding-bottom:10px;
}

.logusername
{
     float:left;
    width:50%;
    background-color:#eee;
    padding-top:10px;
    padding-bottom:10px;

}

.logactivitytype
{
   
}



.logactivitydate
{
    padding-top:10px;
    padding-bottom:10px;
    text-align:right;
     background-color:#eee;
}

@media only screen and (max-width: 750px) {
/* define mobile specific styles come here */


.nicetable
{
    width:100%;
}

#RightMenu
{

    float:none;
    width:100%;
    min-height:0px;
    height:auto;
    margin-bottom:10px;
    margin-top:30px;
      background-image:url('../Images/bodybackgroundTexture.png');
}


.RightMenuUL
{
   /* background-image:url('../Images/bodybackgroundTexture.png');*/
    background-size:auto;
    margin:auto;
    min-width:0px;
    min-height:0px;
    width:auto;
    text-align:center;
        background-color:red;
}

.RightMenuUL h2
{
    background-image:none;
    background-color:yellow;
    display:none;

}




.RightMenuUL li
{
    border:none;
    display:inline-block;
    width:auto;
    margin:0px;
}
.searchboxcust
{
    padding: 10px;
    text-align: left;
    font-weight: bold;
    width:300px;
}

.RightMenuUL li:hover
{
background-color:#eee;


}

.RightMenuUL a
{
width:auto;
border:none;
color:black;
}

#ContentArea
{
    min-height:400px;
    background-color:white;
}

h2
{
    clear:both;
}

#studentdiv
{
    margin-right:20px;
    clear:both;
}

.RightMenuUL
{
    width:100%;
    background-color:white;
    padding-bottom:20px;
}

.RightMenuUL li a
{
color:red;
}


}


@media only screen and (max-width: 784px) {
    /* define mobile specific styles come here */
    .topLogo {
        float:left;
    }
}



@media only screen and (max-width: 550px) {
/* define mobile specific styles come here */

#TopHeaderLinks
{
    clear:both;
    position:initial;
    top:0;
    margin:0px;
    width:100%;
    text-align:center;
    margin-bottom:20px;
    margin-top:10px;
}
#TopHeaderLinks li
{
   display:inline-block;
   margin-right:0px;
   margin-left:0px;
   padding:0px;
}


.rmm
{
   clear:both;
   margin-top:20px;
}

.toprowitem h2
{
    width:100%;
    clear:both;
    margin:0px;
    padding:0px;
}

.toprowitem
{
    clear:both;
    width:100%;
}

.toprowitem p
{
    clear:both;

}



}



@media only screen and (max-width: 400px) {
/* define mobile specific styles come here */


}







.onoffswitch {
    position: relative; 
    width: 83px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;

}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid black; border-radius: 30px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0px 15px 0px rgba(0,0,0,0.08) inset;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 9px;
    background-color: #4A7023; color: #FFFFFF;
    border-radius: 30px 0 0 30px;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 9px;
    background-color:#FFFFFF ; color: #000000;
    text-align: right;
    border-radius: 0 30px 30px 0;
}
.onoffswitch-switch {
    display: block; width: 30px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid black; border-radius: 30px;
    position: absolute; top: 0; bottom: 0; right: 49px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}




.lefttable
{
    text-align:left;
    margin:0px;
  
}






.onoffswitchrisk {
    position: relative; 
    width: 83px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;

}
.onoffswitchrisk-checkbox {
    display: none;
}
.onoffswitchrisk-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid black; border-radius: 30px;
}
.onoffswitchrisk-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitchrisk-inner:before, .onoffswitchrisk-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0px 15px 0px rgba(0,0,0,0.08) inset;
}
.onoffswitchrisk-inner:before {
    content: "";
    padding-left: 9px;
    background-color: green; color: #FFFFFF;
    border-radius: 30px 0 0 30px;
}
.onoffswitchrisk-inner:after {
    content: "";
    padding-right: 9px;
    background-color:red ; color: #000000;
    text-align: right;
    border-radius: 0 30px 30px 0;
}
.onoffswitchrisk-switch {
    display: block; width: 30px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid black; border-radius: 30px;
    position: absolute; top: 0; bottom: 0; right: 49px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}
.onoffswitchrisk-checkbox:checked + .onoffswitchrisk-label .onoffswitchrisk-inner {
    margin-left: 0;
}
.onoffswitchrisk-checkbox:checked + .onoffswitchrisk-label .onoffswitchrisk-switch {
    right: 0px; 
}




/**Shop*/

#Shopmenudiv
{
    margin:auto;
    max-width:620px;
}

.shopmenu
{
    margin:auto;
    margin-top:20px;


}

.shopmenu li
{

    display:inline-block;
    width:150px;
    background-image:url('../Images/quickhd.png');
    height:50px;
    text-align:center;
    line-height:50px;
    font-size:0.8em;
    background-size:320px 50px;
    margin:0px;
}

.shopmenu li a
{

    color:white;
    text-decoration:none;
}

.shopmenu li a:hover
{

    color:white;
    text-decoration:underline;
}

#thingstobuy
{
    max-width:610px;
    margin:auto;
}

#thingstobuy li
{

    display:inline-block;
    text-align:center;
    line-height:25px;
    width:180px;
 background-color:#d3232f;
 padding:5px;
 margin-bottom:5px;
 min-height: 110px;
float: left;
margin-right: 10px;
}

.txtboxline
{
    padding:10px;
    width:90%;
}


.txtboxmedicalshop
{
    padding:5px;
    width:90%;
    margin-top:20px;
    min-height:200px;
}
#name
{
    text-align:center;
    font-weight:bold;
    color:white;
    min-height:100px;
}



.price
{
    color:white;
    float:right;
}


.remove
{
    float:right;
    background-color:red;
    padding:5px;
    margin:5px;
}


.cartlabel
{
   line-height:2em;
   vertical-align:middle;
   width:100px;
   display:inline-block;
   padding:5px;
}

.highlighttotal
{
    font-weight:bold;
   background-color:#d3232f;
   color:white;

}

.cart
{
    width:300px;
    border:solid 1px #d3232f;
    margin:auto;
    margin-top:20px;

}
