﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SportsMems.aspx.cs" Inherits="SUDB.SportsMems" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>

        <table>
        <asp:Repeater ID="rptMems" runat="server">
            <ItemTemplate>
                <tr>

                    <td>
                        <asp:Label ID="lblStudentNo" runat="server" Text="Label"></asp:Label></td>

                </tr>


            </ItemTemplate>

        </asp:Repeater>
    </table>
    </div>
    </form>
</body>
</html>
