﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="BarMenu.ascx.cs" Inherits="SUDB.UserControls.BarMenu" %>
    <div id="RightMenu">
<div class="RightMenuUL">

    <h2>Licenced Outlets</h2>

    <ul>
        <li><a href="/Management/Bar/Barred.aspx">Barred Members</a></li>
        <li><a href="/Management/Bar/Under18.aspx">Under 18 Members</a></li>
    </ul>

</div>
         </div>