﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SystemManagerMenu.ascx.cs" Inherits="SUDatabase.UserControls.SystemManagerMenu" %>
     <div id="RightMenu">
<div class="RightMenuUL">

    <h2>System Manager</h2>

    <ul>
        <li><a href="/Management/SystemManager/Users/Users.aspx">Users &amp; Permissions</a></li>
         <!--<li><a href="/Management/SystemManager/Settings/Settings.aspx">Settings</a></li>-->
        <!-- <li><a href="/Management/SystemManager/ActivityLog/Default.aspx">Activity Log</a></li>-->  
       <li><a href="/Management/SystemManager/Welfare/Tags.aspx">Welfare Tags</a></li>
 
    </ul>

</div>
         </div>